<h2><%= @list.name %></h2>
<% @list.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h5>Bookmarks</h5>
<ul class="container movies-container">
<% @list.movies.each do |movie| %>
  <li>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= movie.poster_url %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %> | <%= movie.rating %></h5>
        <p class="card-text"><%= movie.overview %></p>
      </div>

      <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <p><%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
          </li>
      </ul>

    </div>
  </li>
<% end %>
</ul>
<ul>
  <li>
    <h6>
      <% @list.reviews.each do |review| %>
        <%= review.comment %>
      <% end %>
    </h6>

  </li>
</ul>
<%= render "reviews/form"  %>
<%= link_to "New bookmark", new_list_bookmark_path(@list) %>
